article.team-profile
              .thumbnail-img
                  img.img-responsive(src='/images/Mikee.png', alt='This guy is awesome')
                h4 Michael Chavez (Developer)
              p
                | Michael is a passionate and devoted front-end developer. His love for clean web compliant code has garnered him a deep understanding of HTML, CSS and has enabled him to utilize both PHP and JavaScript to make projects come to life.
              ul
                a(href='mailto:mchavez@space-rocket.com?Subject=Hello')
                  li.email
                    .email-icon
                    p Email
                a(href='https://www.facebook.com/pages/Space-Rocket/336962632990741')
                  li.facebook
                    .fb-icon
                    p Facebook
                a(href='https://twitter.com/bigbassroller')
                  li.tw
                    .tw-icon
                    p @bigbassroller
                a(href='http://www.linkedin.com/pub/michael-chavez/30/681/702')
                  li.ln
                    .ln-icon
                    p linkedin