<article class="team-profile">
			<div class="thumbnail-img">
				<img class="img-responsive" src="/images/Mikee.png" alt="This guy is awesome"></img>
			</div>
			<h4>Michael Chavez (Developer)</h4>
			<p>Michael is a passionate and devoted front-end developer. His love for clean web compliant code has garnered him a deep understanding of HTML, CSS and has enabled him to utilize both PHP and JavaScript to make projects come to life.</p>
		<ul>
			<a href="mailto:mchavez@space-rocket.com?Subject=Hello">
				<li class="email">
					<div class="email-icon"></div><p>Email</p>
				</li>
			</a> 
			<a href="https://www.facebook.com/pages/Space-Rocket/336962632990741">
				<li class="facebook">
					<div class="fb-icon"></div><p>Facebook</p>
				</li>
			</a> 
			<a href="https://twitter.com/bigbassroller">
				<li class="tw">
					<div class="tw-icon"></div><p>@bigbassroller</p>
				</li>
			</a> 
			<a href="http://www.linkedin.com/pub/michael-chavez/30/681/702">
				<li class="ln">
					<div class="ln-icon"></div><p>Linkedin</p>
				</li>
			</a>
		</ul>
		</article>