article.team-profile
              .thumbnail-img
                  img.img-responsive(src='/images/Vivian.png', alt='This lady is awesome')
                h4 Vivian Yann (Designer)
              p
                | Vivian has over 9 years professional graphic and web design experience. Her work has earned her awards and landed her positions at top firms in her homeland of Zhongshan, China. Vivian makes good design look easy.
              ul
                a(href='mailto:vivian@space-rocket.com?Subject=Hello')
                  li.email
                    .email-icon
                    p Email
                a(href='https://www.facebook.com/pages/Space-Rocket/336962632990741')
                  li.facebook
                    .fb-icon
                    p Facebook
                a(href='https://twitter.com/vvic010/')
                  li.tw
                    .tw-icon
                    p @vvic010
                a(href='http://www.linkedin.com/profile/view?id=109057603&authType=name&authToken=qnXh&goback=')
                  li.ln
                    .ln-icon
                    p Linkedin
