<article class="team-profile">
			<div class="thumbnail-img">
				<img class="img-responsive" src="/images/Vivian.png" alt="This lady is awesome"></img>
			</div>
			<h4>Vivian Yann (Designer)</h4>
			<p>Vivian has over 9 years professional graphic and web design experience. Her work has earned her awards and landed her positions at top firms in her homeland of Zhongshan, China. Vivian makes good design look easy.</p>
		<ul>
			<a href="mailto:vivian@space-rocket.com?Subject=Hello">
				<li class="email">
					<div class="email-icon"></div><p>Email</p>
				</li>
			</a> 
			<a href="https://www.facebook.com/pages/Space-Rocket/336962632990741">
				<li class="facebook">
					<div class="fb-icon"></div><p>Facebook</p>
				</li>
			</a> 
			<a href="https://twitter.com/vvic010/">
				<li class="tw">
					<div class="tw-icon"></div><p>@vvic010</p>
				</li>
			</a> 
			<a href="http://www.linkedin.com/profile/view?id=109057603&authType=name&authToken=qnXh&goback=">
				<li class="ln">
					<div class="ln-icon"></div><p>Linkedin</p>
				</li>
			</a>
		</ul>
		</article>