#secondary.front.widget-area(role='complementary')
  h1 How We Work
  aside.widget.thumbnails
    .thumbnail
        .thumbnail-img-title
          .plan.thumbnail-img
          h3.widget-title Plan
        p
          | We meet with you to discuss details and project requirements while evaluating what skills and tools are needed to achieve your goals.
  aside.widget.thumbnails
    .thumbnail
        .thumbnail-img-title
          .prototype.thumbnail-img
          h3.widget-title Prototype
        p
          | We create custom mockups to meet your brand and style. Designs are finalized by your approval.
  aside.widget.thumbnails
    .thumbnail
        .thumbnail-img-title
          .create.thumbnail-img
          h3.widget-title Create
        p
          | We use the latest industry standards while paying close attention to detail and bring your project to life.
  aside.widget.thumbnails
    .thumbnail
        .thumbnail-img-title
          .test.thumbnail-img
          h3.widget-title Test
        p
          | We iron out any loose ends to ensure optimal quality assurance of the final product.
  aside.widget.thumbnails
    .thumbnail
        .thumbnail-img-title
          .release.thumbnail-img
          h3.widget-title Release
        p
          | The most exciting part, the project is launched and is live for the whole world to enjoy! We stay with you for customer support.   