#content.team.site-content(role='main')
          article
            header.entry-header
                h1.entry-title One Designer, One Deleveloper and You
            .entry-content
              p
                | Space-Rocket is Michael Chavez and Vivian Yan. We're a small web design studio based in beautiful San Francisco, California. We don't do cookie cutter design, we approach each project with a unique look based on competitive analysis of your industry. We match your brand and style with a full range of graphic and web design needs, including: custom web design, logos, ad banners, brochures and business cards. Hiring us is like hiring a full fledged marketing company with a personal touch. We do all our work in house and never outsource. We love all things graphic and web and it shows in our work. Interested in working with us? Email hello@space-rocket.com or call (415) 724-7935 and we can discuss what we can do for you.
            include profiles/mike
            include profiles/vivian




