#content.services.site-content(role='main')
    article
        header.entry-header
          h1.entry-title What We Can Do For You
        .entry-content
          p
            | We love everything web and graphic. Our ability to provide awesome graphic design comes from over ten years experience in the field and our ability to code comes from a deep rooted passion for making visions come to life. We also provide content writing and ad campaigns to benefit your online goals based on SEO optimizations and analytics.
          .services
            .design
              .services-img
              .services-content
                h4 DESIGN
                ul.services-first
                  li User experience (UX)
                  li Logo
                  li Web design
                  li Mobile design
                  li Branding
                ul.services-second
                  li Graphic design
                  li Ad banner
                  li Flash animation
                  li Business cards
                  li Photo editing
            .develop
              .services-img
              .services-content
                h4 DEVELOP
                ul.services-first
                  li HTML5
                  li CSS3
                  li Responsive design
                  li JavaScript
                  li jQuery
                ul.services-second
                  li PHP
                  li CMS
                  li E-commerce
                  li Social apps
                  li WordPress
            .maintain
              .services-img
              .services-content
                h4 MAINTAIN
                ul.services-first
                  li Hosting
                  li SEO
                  li Social media
                  li Marketing campaign
                  li Content writing
                ul.services-second
                  li Website updates
                  li Online advertising
